build/
*.ppm
*.cache/
*.vscode/
!.vscode/tasks.json
imgui.ini
install/

thirdparty/glfw/
thirdparty/glm/
thirdparty/imgui/
thirdparty/KTX-Software/
thirdparty/tinygltf/

engine/core/thirdparty/glslang
engine/core/thirdparty/SPIRV-Cross
engine/core/thirdparty/VulkanMemoryAllocator