[submodule "thirdparty/tinygltf"]
	path = thirdparty/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "thirdparty/KTX-Software"]
	path = thirdparty/KTX-Software
	url = git@github.com:KhronosGroup/KTX-Software.git
	branch = master
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "engine/core/thirdparty/glslang"]
	path = engine/core/thirdparty/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "engine/core/thirdparty/SPIRV-Cross"]
	path = engine/core/thirdparty/SPIRV-Cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
	branch = main
[submodule "engine/core/thirdparty/VulkanMemoryAllocator"]
	path = engine/core/thirdparty/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	branch = master
[submodule "engine/core/thirdparty/SPIRV-Reflect"]
	path = engine/core/thirdparty/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
